@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Quicksand:wght@300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

html {
    scroll-behavior: smooth;
}

header {
    background-color: rgba(145, 118, 106, 1);
    position: fixed;
    width: 100%;
    margin-top: -66px;
    z-index: 1;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    color: #1F0303;
    padding-top: 66px;
}

/* Headings and logo */

.container-logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container-logo div {
    color: #fafafa;
}

.logo {
    margin: 0 auto;
    flex-grow: 1;
}

.login {
    margin-right: 30px;
}

.navbar {
    display: none;
}

header:hover .navbar,
.navbar:hover {
    display: flex;
    background-color: #fafafa;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 auto;
}

.navbar a {
    color: rgba(145, 118, 106, 1);
    padding: 10px;
}

h1 {
    font-family: Quicksand, sans-serif;
    font-size: xx-large;
    font-weight: 400;
    line-height: 50px;
    text-transform: lowercase;
    letter-spacing: 3px;
    color: #fafafa;
    text-align: center;
    padding: 5px 0;
}

h1::before {
    content: "\f1ce";
    font-family: "FontAwesome";
    font-size: 50%;
    font-weight: normal;
    margin: 0 6px 0 0;
}

a {
    text-decoration: none;
    color: #fafafa;
}

/* hero video */

#hero {
    max-height: 650px;
    width: 100%;
    overflow: hidden;
}

#hero-video {
    width: 100%;
    display: block;
}

/* Sections */

/* Benefits section */

.container-1 {
    height: 100px;
    background-color: rgba(145, 118, 106, 1);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
}

.container-1 div {
    padding: 10px;
    color: #fafafa;
    font-weight: heavier;
    text-align: center;
    flex-grow: 1;
}

#box-2,
#box-4 {
    border-left: 1px solid rgba(197, 186, 171, 1);
}

.box-arrow {
    width: 50px;
    flex-grow: 0;
}

/* How it Works section */

.container-2 {
    min-height: 100vh;
    background-color: rgba(197, 186, 171, 1);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
}

.container-2>div {
    padding: 10px;
    color: #1F0303;
    font-weight: heavier;
    text-align: center;
    flex-grow: 1;
}

#how-it-works>h2 {
    background-color: rgba(197, 186, 171, 1);
    color: #1F0303;
    height: 35px;
    text-align: center;
    padding-top: 10px;
}

/* Example videos */

.example-video {
    border-radius: 25px;
    overflow: hidden;
    width: 300px;
    transform: translateZ(0);
}

.example-video video {
    display: block;
    margin-left: -20px;
    height: 200px;
    width: auto;
}

#how-to-plans {
    height: 150px;
    background-color: rgba(147, 171, 153, 1);
    color: #1F0303;
    text-align: center;
    padding: 10px 0;
}

/* Subscription Plans section */

.container-3 {
    min-height: 100vh;
    background-color: rgba(147, 171, 153, 1);
    color: #1F0303;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
}

#subscription-plans>h2 {
    background-color: rgba(147, 171, 153, 1);
    color: #1F0303;
    height: 35px;
    text-align: center;
    padding-top: 10px;
}

/* About Us section */

.container-4 {
    min-height: 100vh;
    background-color: rgba(197, 186, 171, 1);
    color: #1F0303;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
}

#about-contact {
    background-color: rgba(197, 186, 171, 1);
    color: #1F0303;
    text-align: center;
    padding: 10px 0;
}

#about-us-photo {
    height: 50%;
    width: 50%;
}

/* Footer */

.container-footer {
    height: 100px;
    background-color: rgba(108, 135, 116, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
}

.container-footer div {
    padding: 10px;
    color: #fafafa;
    font-weight: heavier;
    text-align: center;
    flex-grow: 1;
}

#logo-footer {
    color: #fafafa;
    text-align: center;
}

.social-networks {
    text-align: center;
}

.social-networks>li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #fafafa;
}