@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Quicksand:wght@300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

header {
    background-color: rgba(145, 118, 106, 0.7);
    text-align: center;
}