@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Quicksand:wght@300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

html {
    scroll-behavior: smooth;
}

header {
    background-color: rgba(145, 118, 106, 1);
    position: fixed;
    width: 100%;
    margin-top: -66px;
    z-index: 1;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    color: #1F0303;
    padding-top: 66px;
}

/* Background colors of sections */

#home {
    background-color: rgba(145, 118, 106, 1);
    width: 100%;
}

#how-it-works,
#about-us {
    background-color: rgba(197, 186, 171, 1);
    width: 100%;
}

#subscription-plans,
#contact {
    background-color: rgba(147, 171, 153, 1);
    width: 100%;
}

#footer {
    background-color: rgba(108, 135, 116, 1);
    width: 100%;
}

/* Headings and logo */

.container-logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 262px;
}

.container-logo div {
    color: #fafafa;
}

.logo {
    margin: 0 auto;
    flex-grow: 1;
}

.login {
    margin-right: 10px;
    position: relative;
}

.login-toggle {
    display: none;
    padding-right: 10px;
}

.login-popup {
    background: rgba(147, 171, 153, 0.9);
    border: 1px solid rgba(108, 135, 116, 1);
    border-top: 0;
    display: none;
    padding: 20px;
    position: absolute;
    right: 0;
}

.login-popup input[type="email"],
.login-popup input[type="password"] {
    background: rgba(250, 250, 250, 0.75);
    font-size: medium;
    margin-bottom: 10px;
    padding: 5px;
    text-align: center;
    width: 200px;
}

.login-popup input[type="submit"] {
    background: rgba(250, 250, 250, 0.5);
    color: rgba(0, 0, 0, 0.65);
    font-size: medium;
    padding: 5px;
    width: 100%;
}

.login-popup input[type="submit"]:hover {
    background: rgba(250, 250, 250, 0.25);
}

.login-toggle+label {
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    display: block;
    height: 66px;
    line-height: 66px;
    padding: 0 20px;
    text-align: right;
    width: 210px;
}

.login-toggle+label:hover {
    color: #fafafaba;
}

.login-toggle:checked+label {
    background: rgba(108, 135, 116, 1);
    border-left: 1px solid rgba(0, 0, 0, 0.2);
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    color: #000000ba;
}

.login-toggle:checked~.login-popup {
    display: block;
}

.navbar {
    display: none;
}

header:hover .navbar {
    display: flex;
    background-color: rgba(250, 250, 250, 0.9);
    justify-content: center;
    align-items: center;
}

.navbar a {
    color: rgba(145, 118, 106, 1);
    padding: 10px;
    margin: 0 20px;
}

.navbar a:hover {
    text-decoration: underline;
}

.login i {
    padding-right: 10px;
    font-size: 100%;
}

h1 {
    font-family: Quicksand, sans-serif;
    font-size: xx-large;
    font-weight: 400;
    line-height: 50px;
    text-transform: lowercase;
    letter-spacing: 3px;
    color: #fafafa;
    text-align: center;
    padding: 5px 0;
}

h1::before {
    content: "\f1ce";
    font-family: "FontAwesome";
    font-size: 50%;
    font-weight: normal;
    margin: 0 6px 0 0;
}

a {
    text-decoration: none;
    color: #fafafa;
}

/* hero video */

#hero {
    max-height: 650px;
    width: 100%;
    overflow: hidden;
}

#hero-video {
    width: 100%;
    display: block;
}

/* Sections */

/* Benefits section */

.container-1 {
    height: 100px;
    background-color: rgba(145, 118, 106, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
}

.container-1 div {
    padding: 10px;
    color: #fafafa;
    font-weight: heavier;
    text-align: center;
    flex-grow: 1;
}

#box-2,
#box-4 {
    border-left: 1px solid rgba(197, 186, 171, 1);
}

#box-arrow {
    width: 30px;
    flex-grow: 0;
    color: #fafafa;
}

#box-arrow i {
    font-size: 200%;
    padding: 30px 15px 0 15px;
}

div i {
    padding-bottom: 15px;
    font-size: 150%;
    font-weight: normal;
}


/* How it Works section */

.container-2 {
    min-height: 100vh;
    background-color: rgba(197, 186, 171, 1);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
}

.container-2>div {
    padding: 10px;
    color: #1F0303;
    font-weight: heavier;
    text-align: center;
    flex-grow: 1;
}

#how-it-works>h2 {
    background-color: rgba(197, 186, 171, 1);
    color: #1F0303;
    height: 35px;
    text-align: center;
    padding-top: 10px;
}

#how-text {
    background-color: rgba(197, 186, 171, 1);
    color: #1F0303;
    text-align: justify;
    padding: 10px 0 10px 100px;
}



/* Example videos */

.example-video {
    border-radius: 25px;
    overflow: hidden;
    width: 300px;
    transform: translateZ(0);
}

.example-video video {
    display: block;
    margin-left: -20px;
    height: 200px;
    width: auto;
}

/* Subscription Plans section */

.container-3 {
    min-height: 100vh;
    background-color: rgba(147, 171, 153, 1);
    color: #1F0303;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 0;
}

#subscription-plans>h2 {
    background-color: rgba(147, 171, 153, 1);
    color: #1F0303;
    height: 35px;
    text-align: center;
    padding-top: 10px;
}

#phone-app-mockup {
    text-align: center;
}

#paus-app-mockup {
    height: 50%;
    width: 50%;
    margin: 0 auto;
}

#basic-plan,
#premium-plan {
    height: 450px;
    width: 250px;
    background-color: rgba(250, 250, 250, 0.5);
    color: #1F0303;
    border-radius: 20px;
    padding: 10px;
    margin-right: 40px;
}

.checkmark {
    color: rgba(108, 135, 116, 1);
    font-size: 150%;
    padding: 0 3px 3px 15px;
    text-align: left;
}

.cross {
    color: rgba(145, 118, 106, 1);
    font-size: 150%;
    padding: 0 3px 3px 15px;
    text-align: left;
}

#basic-plan h3,
#premium-plan h3 {
    text-align: center;
    padding: 15px 0 30px;
}


/* About Us section */

.container-4 {
    min-height: 100vh;
    background-color: rgba(197, 186, 171, 1);
    color: #1F0303;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row-reverse;
    align-items: center;
    padding: 10px;
}

#about-us-text {
    background-color: rgba(197, 186, 171, 1);
    color: #1F0303;
    text-align: justify;
    padding: 10px 0 10px 100px;
}

#about-us-text p,
#about-us-text h2 {
    margin-bottom: 20px;
}

#about-us-img {
    text-align: center;
}

#about-us-photo {
    height: 50%;
    width: 50%;
    margin: 0 auto;
}

/* Contact section */

.container-5 {
    min-height: 100vh;
    background-color: rgba(147, 171, 153, 1);
    color: #1F0303;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

/* Footer */

.container-footer {
    height: 100px;
    background-color: rgba(108, 135, 116, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
}

.container-footer div {
    padding: 10px;
    color: #fafafa;
    font-weight: heavier;
    text-align: center;
    flex-grow: 1;
}

#logo-footer {
    color: #fafafa;
    text-align: center;
}

.social-networks {
    text-align: center;
}

.social-networks>li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #fafafa;
}