@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Quicksand:wght@300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

header {
    background-color: rgba(197, 186, 171, 1);
    position: fixed;
    width: 100%;
    margin-top: -60px;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    color: #3a3a3a;
    padding-top: 60px;
}

/* heading and logo */

h1 {
    font-family: Quicksand, sans-serif;
    font-size: xx-large;
    font-weight: 400;
    line-height: 50px;
    text-transform: lowercase;
    letter-spacing: 3px;
    color:rgba(145, 118, 106, 1);
    text-align: center;
    padding: 5px 0;
}

h1::before {
    content: "\f1ce";
    font-family: "FontAwesome";
    font-size: 50%;
    font-weight: normal;
    margin: 0 6px 0 0;
}

a:link {
    text-decoration: none;
}

/* hero video */

#hero {
    height: 650px;
    overflow: hidden;
}

#hero-video {
    width: 100%;
    display: block;
}

/* Sections */

.container-1 {
    height: 100px;
    background-color: rgba(145, 118, 106, 1);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
}

.container-1 div {
    padding: 10px;
    color: #fafafa;
    font-weight: heavier;
    text-align: center;
    flex-grow: 2;
}

#box-2, #box-4 {
    border-left: 1px solid rgba(197, 186, 171, 1);
}

.box-arrow {
    width: 50px;
    flex-grow: 0;
}





